uploads/Backup_n8n_2025_12_31/BackupFlowsTest.json
[
  {
    "updatedAt": "2025-12-31T16:45:51.000Z",
    "createdAt": "2025-12-17T18:01:58.170Z",
    "id": "yyq5KzN6B0gbSEwq",
    "name": "BackupFlowsTest",
    "active": true,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "filters": {},
          "requestOptions": {}
        },
        "type": "n8n-nodes-base.n8n",
        "typeVersion": 1,
        "position": [
          -192,
          -80
        ],
        "id": "3435b8eb-4620-4b44-b491-03fec2d1eba1",
        "name": "Get many workflows",
        "credentials": {
          "n8nApi": {
            "id": "9zRnCK18h0WQpLrU",
            "name": "n8n account"
          }
        }
      },
      {
        "parameters": {
          "batchSize": "={{ 1 }}",
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          48,
          -16
        ],
        "id": "a36b40d0-b5a4-4811-943a-905d050bca60",
        "name": "Loop Over Items",
        "notesInFlow": false
      },
      {
        "parameters": {
          "operation": "toJson",
          "options": {
            "format": true,
            "fileName": "={{ $('Get many workflows').item.json.name + \".json\"}}"
          }
        },
        "type": "n8n-nodes-base.convertToFile",
        "typeVersion": 1.1,
        "position": [
          240,
          80
        ],
        "id": "ceb19485-0673-4fe9-ac08-50bd4f48111f",
        "name": "Convert to File"
      },
      {
        "parameters": {
          "protocol": "sftp",
          "operation": "upload",
          "path": "=/upload/{{ $('Edit Fields - Create Folder').item.json.folderName }}/{{ $('Loop Over Items').item.json.name  + '.json' }}"
        },
        "type": "n8n-nodes-base.ftp",
        "typeVersion": 1,
        "position": [
          400,
          80
        ],
        "id": "f19f865c-c4db-424a-ba3f-9d1d2a935737",
        "name": "sFTP",
        "credentials": {
          "sftp": {
            "id": "jhcMZNUTc3ulPXth",
            "name": "sFTP dockertest1"
          }
        }
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtMinute": 5
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -528,
          -80
        ],
        "id": "c16cb6c0-38c5-46ff-8f77-577f9fb94dc0",
        "name": "At 12:05AM"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "76f926a3-d140-4a47-9030-77ea2102ab2a",
                "name": "folderName",
                "value": "=Backup_n8n_{{  $now.format('yyyy_MM_dd') }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -368,
          -80
        ],
        "id": "cab12ade-a4af-4af9-bb42-951995a325e6",
        "name": "Edit Fields - Create Folder"
      },
      {
        "parameters": {
          "authentication": "privateKey",
          "command": "find /dockerdata/sftp/uploads/ -maxdepth 1 -mindepth 1 -type d -mmin +2 -exec sh -c 'rm -rf \"$1\" && echo \"Deleted: $1\"' _ {} \\;"
        },
        "type": "n8n-nodes-base.ssh",
        "typeVersion": 1,
        "position": [
          672,
          -176
        ],
        "id": "f322a4e2-38b4-4710-a854-3ae2f5d4b845",
        "name": "Delete Old Folders",
        "credentials": {
          "sshPrivateKey": {
            "id": "3ThdMSSaGRY6G6Xp",
            "name": "dockertest1"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "ef7f7633-b230-43ca-8cd2-a18e60ab0a08",
                "name": "fileCount",
                "value": "=={{ $('Get many workflows').all().length }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          224,
          -176
        ],
        "id": "d54931c3-69ba-4526-b101-ce382bfe249b",
        "name": "Count Processed Files",
        "executeOnce": true
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "ad5c9a0a-b66e-4b9d-899f-71480dc4acf6",
                "name": "deletedStatus",
                "value": "={{ $json.stdout }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          848,
          -176
        ],
        "id": "4c113448-b940-4e21-90f2-9512e8f2a398",
        "name": "Delete Status"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": []
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          432,
          -176
        ],
        "id": "d07b3ccd-4da6-4dc6-b040-051d28a29a42",
        "name": "Do Nothing"
      },
      {
        "parameters": {
          "fieldsToAggregate": {
            "fieldToAggregate": [
              {
                "fieldToAggregate": "deletedStatus"
              },
              {
                "fieldToAggregate": "fileCount"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          1056,
          -176
        ],
        "id": "d021e08c-ba09-48ad-9e86-771e5ddddc88",
        "name": "Aggregate"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          608,
          80
        ],
        "id": "e3e124b3-1b39-44f8-b627-bd0164450122",
        "name": "Loop Complete"
      }
    ],
    "connections": {
      "Get many workflows": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [
            {
              "node": "Count Processed Files",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Convert to File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Convert to File": {
        "main": [
          [
            {
              "node": "sFTP",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "sFTP": {
        "main": [
          [
            {
              "node": "Loop Complete",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "At 12:05AM": {
        "main": [
          [
            {
              "node": "Edit Fields - Create Folder",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields - Create Folder": {
        "main": [
          [
            {
              "node": "Get many workflows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Delete Old Folders": {
        "main": [
          [
            {
              "node": "Delete Status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Count Processed Files": {
        "main": [
          [
            {
              "node": "Do Nothing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Do Nothing": {
        "main": [
          []
        ]
      },
      "Delete Status": {
        "main": [
          [
            {
              "node": "Aggregate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Complete": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1"
    },
    "staticData": {
      "node:At Midnight": {
        "recurrenceRules": []
      },
      "node:At 12:05AM": {
        "recurrenceRules": []
      }
    },
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "pinData": {
      "At 12:05AM": [
        {
          "json": {
            "timestamp": "2025-12-30T00:05:46.012-05:00",
            "Readable date": "December 30th 2025, 12:05:46 am",
            "Readable time": "12:05:46 am",
            "Day of week": "Tuesday",
            "Year": "2025",
            "Month": "December",
            "Day of month": "30",
            "Hour": "00",
            "Minute": "05",
            "Second": "46",
            "Timezone": "America/New_York (UTC-05:00)"
          }
        }
      ]
    },
    "versionId": "1390151b-5e16-4198-9c9f-d9cc5140e3e1",
    "activeVersionId": "1390151b-5e16-4198-9c9f-d9cc5140e3e1",
    "triggerCount": 1,
    "shared": [
      {
        "updatedAt": "2025-12-17T18:01:58.174Z",
        "createdAt": "2025-12-17T18:01:58.174Z",
        "role": "workflow:owner",
        "workflowId": "yyq5KzN6B0gbSEwq",
        "projectId": "LrwBhs4hpwqC6IJN"
      }
    ],
    "activeVersion": {
      "updatedAt": "2025-12-31T16:45:51.256Z",
      "createdAt": "2025-12-31T16:45:51.256Z",
      "versionId": "1390151b-5e16-4198-9c9f-d9cc5140e3e1",
      "workflowId": "yyq5KzN6B0gbSEwq",
      "nodes": [
        {
          "parameters": {
            "filters": {},
            "requestOptions": {}
          },
          "type": "n8n-nodes-base.n8n",
          "typeVersion": 1,
          "position": [
            -192,
            -80
          ],
          "id": "3435b8eb-4620-4b44-b491-03fec2d1eba1",
          "name": "Get many workflows",
          "credentials": {
            "n8nApi": {
              "id": "9zRnCK18h0WQpLrU",
              "name": "n8n account"
            }
          }
        },
        {
          "parameters": {
            "batchSize": "={{ 1 }}",
            "options": {}
          },
          "type": "n8n-nodes-base.splitInBatches",
          "typeVersion": 3,
          "position": [
            48,
            -16
          ],
          "id": "a36b40d0-b5a4-4811-943a-905d050bca60",
          "name": "Loop Over Items",
          "notesInFlow": false
        },
        {
          "parameters": {
            "operation": "toJson",
            "options": {
              "format": true,
              "fileName": "={{ $('Get many workflows').item.json.name + \".json\"}}"
            }
          },
          "type": "n8n-nodes-base.convertToFile",
          "typeVersion": 1.1,
          "position": [
            240,
            80
          ],
          "id": "ceb19485-0673-4fe9-ac08-50bd4f48111f",
          "name": "Convert to File"
        },
        {
          "parameters": {
            "protocol": "sftp",
            "operation": "upload",
            "path": "=/upload/{{ $('Edit Fields - Create Folder').item.json.folderName }}/{{ $('Loop Over Items').item.json.name  + '.json' }}"
          },
          "type": "n8n-nodes-base.ftp",
          "typeVersion": 1,
          "position": [
            400,
            80
          ],
          "id": "f19f865c-c4db-424a-ba3f-9d1d2a935737",
          "name": "sFTP",
          "credentials": {
            "sftp": {
              "id": "jhcMZNUTc3ulPXth",
              "name": "sFTP dockertest1"
            }
          }
        },
        {
          "parameters": {
            "rule": {
              "interval": [
                {
                  "triggerAtMinute": 5
                }
              ]
            }
          },
          "type": "n8n-nodes-base.scheduleTrigger",
          "typeVersion": 1.3,
          "position": [
            -528,
            -80
          ],
          "id": "c16cb6c0-38c5-46ff-8f77-577f9fb94dc0",
          "name": "At 12:05AM"
        },
        {
          "parameters": {
            "assignments": {
              "assignments": [
                {
                  "id": "76f926a3-d140-4a47-9030-77ea2102ab2a",
                  "name": "folderName",
                  "value": "=Backup_n8n_{{  $now.format('yyyy_MM_dd') }}",
                  "type": "string"
                }
              ]
            },
            "options": {}
          },
          "type": "n8n-nodes-base.set",
          "typeVersion": 3.4,
          "position": [
            -368,
            -80
          ],
          "id": "cab12ade-a4af-4af9-bb42-951995a325e6",
          "name": "Edit Fields - Create Folder"
        },
        {
          "parameters": {
            "authentication": "privateKey",
            "command": "find /dockerdata/sftp/uploads/ -maxdepth 1 -mindepth 1 -type d -mmin +2 -exec sh -c 'rm -rf \"$1\" && echo \"Deleted: $1\"' _ {} \\;"
          },
          "type": "n8n-nodes-base.ssh",
          "typeVersion": 1,
          "position": [
            672,
            -176
          ],
          "id": "f322a4e2-38b4-4710-a854-3ae2f5d4b845",
          "name": "Delete Old Folders",
          "credentials": {
            "sshPrivateKey": {
              "id": "3ThdMSSaGRY6G6Xp",
              "name": "dockertest1"
            }
          }
        },
        {
          "parameters": {
            "assignments": {
              "assignments": [
                {
                  "id": "ef7f7633-b230-43ca-8cd2-a18e60ab0a08",
                  "name": "fileCount",
                  "value": "=={{ $('Get many workflows').all().length }}",
                  "type": "string"
                }
              ]
            },
            "options": {}
          },
          "type": "n8n-nodes-base.set",
          "typeVersion": 3.4,
          "position": [
            224,
            -176
          ],
          "id": "d54931c3-69ba-4526-b101-ce382bfe249b",
          "name": "Count Processed Files",
          "executeOnce": true
        },
        {
          "parameters": {
            "assignments": {
              "assignments": [
                {
                  "id": "ad5c9a0a-b66e-4b9d-899f-71480dc4acf6",
                  "name": "deletedStatus",
                  "value": "={{ $json.stdout }}",
                  "type": "string"
                }
              ]
            },
            "options": {}
          },
          "type": "n8n-nodes-base.set",
          "typeVersion": 3.4,
          "position": [
            848,
            -176
          ],
          "id": "4c113448-b940-4e21-90f2-9512e8f2a398",
          "name": "Delete Status"
        },
        {
          "parameters": {
            "assignments": {
              "assignments": []
            },
            "options": {}
          },
          "type": "n8n-nodes-base.set",
          "typeVersion": 3.4,
          "position": [
            432,
            -176
          ],
          "id": "d07b3ccd-4da6-4dc6-b040-051d28a29a42",
          "name": "Do Nothing"
        },
        {
          "parameters": {
            "fieldsToAggregate": {
              "fieldToAggregate": [
                {
                  "fieldToAggregate": "deletedStatus"
                },
                {
                  "fieldToAggregate": "fileCount"
                }
              ]
            },
            "options": {}
          },
          "type": "n8n-nodes-base.aggregate",
          "typeVersion": 1,
          "position": [
            1056,
            -176
          ],
          "id": "d021e08c-ba09-48ad-9e86-771e5ddddc88",
          "name": "Aggregate"
        },
        {
          "parameters": {
            "options": {}
          },
          "type": "n8n-nodes-base.set",
          "typeVersion": 3.4,
          "position": [
            608,
            80
          ],
          "id": "e3e124b3-1b39-44f8-b627-bd0164450122",
          "name": "Loop Complete"
        }
      ],
      "connections": {
        "Get many workflows": {
          "main": [
            [
              {
                "node": "Loop Over Items",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Loop Over Items": {
          "main": [
            [
              {
                "node": "Count Processed Files",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "Convert to File",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Convert to File": {
          "main": [
            [
              {
                "node": "sFTP",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "sFTP": {
          "main": [
            [
              {
                "node": "Loop Complete",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "At 12:05AM": {
          "main": [
            [
              {
                "node": "Edit Fields - Create Folder",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Edit Fields - Create Folder": {
          "main": [
            [
              {
                "node": "Get many workflows",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Delete Old Folders": {
          "main": [
            [
              {
                "node": "Delete Status",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Count Processed Files": {
          "main": [
            [
              {
                "node": "Do Nothing",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Do Nothing": {
          "main": [
            []
          ]
        },
        "Delete Status": {
          "main": [
            [
              {
                "node": "Aggregate",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Loop Complete": {
          "main": [
            [
              {
                "node": "Loop Over Items",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      },
      "authors": "admin homelan",
      "name": null,
      "description": null
    },
    "tags": []
  }
]