uploads/Backup_n8n_2025_12_31/Docker Prune.json
[
  {
    "updatedAt": "2025-12-01T20:02:37.000Z",
    "createdAt": "2025-12-01T16:29:03.367Z",
    "id": "GQALotLSaSUOe6gJ",
    "name": "Docker Prune",
    "active": false,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 7
              },
              {}
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          0,
          0
        ],
        "id": "b6eb8cba-ee92-4e02-aa01-4102b5737da5",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "authentication": "privateKey",
          "command": "docker system prune -af",
          "cwd": "/home/me"
        },
        "type": "n8n-nodes-base.ssh",
        "typeVersion": 1,
        "position": [
          208,
          0
        ],
        "id": "3a9dabc9-7e4e-411a-883c-1655f5d61f96",
        "name": "Execute a command",
        "credentials": {
          "sshPrivateKey": {
            "id": "3ThdMSSaGRY6G6Xp",
            "name": "SSH Password account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "d0bea113-bad9-4a98-9a62-fd7c46c80d5d",
                "leftValue": "={{ $json.code }}",
                "rightValue": "0",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          416,
          0
        ],
        "id": "6ad96233-62e6-4830-999c-f5ff14a76a93",
        "name": "If"
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Execute a command",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute a command": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1"
    },
    "staticData": null,
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "106e3a78-93a5-4a71-b899-f549bb54f3f0",
    "activeVersionId": null,
    "triggerCount": 0,
    "shared": [
      {
        "updatedAt": "2025-12-01T16:29:03.375Z",
        "createdAt": "2025-12-01T16:29:03.375Z",
        "role": "workflow:owner",
        "workflowId": "GQALotLSaSUOe6gJ",
        "projectId": "LrwBhs4hpwqC6IJN"
      }
    ],
    "activeVersion": null,
    "tags": [
      {
        "updatedAt": "2025-12-01T17:42:38.618Z",
        "createdAt": "2025-12-01T17:42:38.618Z",
        "id": "lVWpo8rErEQXo5Ib",
        "name": "Dockertest1"
      }
    ]
  }
]